{
  "openapi": "3.0.1",
  "info": {
    "title": "Care contacts",
    "description": "<u>Note: Deprecated </u><br/>\nAll types of care contacts.\n<h4>Versions</h4>\n<table style=\"width:100%\">\n  <tr>\n    <th>COS version</th>\n    <th>API version</th>\n    <th>Required Cosmic version</th>\n    <th>Date</th>\n    <th>Description</th>\n  </tr>\n  <tr>\n    <td>3.0.0</td>\n    <td>1.0.0</td>\n    <td>R8.3.05</td>\n    <td>Feb 2022</td>\n    <td>Initial version, deprecated</td>\n  </tr>\n</table>",
    "version": ""
  },
  "servers": [
    {
      "url": "https://api.openservices.cambio.se/api/open/contacts"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "get-contacts",
        "summary": "Get Contact(s)",
        "description": "Gets all care contacts for the given patient. The result can be filtered by using a time interval.\n<p>\n<a target=\"_blank\" href=\"/openidconnectprofile\">OAuth</a> <code>scope</code>for access : <code>user/Contact-read</code> or <code>user/Contact.read</code> or <code>user/*-read</code> or <code>user/*.read</code> or <code>user/*.*</code>\n</p>",
        "responses": {
          "200": {
            "description": "Request succeeded for the given patient.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid access token. The client must request a new token from the authorization server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "statusCode": 401,
                      "message": "Invalid access token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient OAuth2 scope for access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "statusCode": 403,
                      "message": "Insufficient scope."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a given amount of time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "default": {
                    "value": {
                      "statusCode": 429,
                      "message": "Rate limit is exceeded. Try again in 5 seconds."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "Time interval start, using date format: 1970-01-01T01:00:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toDateTime",
            "in": "query",
            "description": "Time interval end, using date format: 1970-01-01T01:00:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "header",
            "description": "The patient number when acting as a care giver or partner.",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    },
    "schemas": {
      "ContactResponse": {
        "description": "List of contacts",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ContactEHRExtracts"
        }
      },
      "ContactEHRExtracts": {
        "description": "List of care contacts where every list currently only holds one(1) care contact.",
        "type": "object",
        "properties": {
          "ContactEHRExtract": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactEHRExtract"
            }
          },
          "XSDVersion": {
            "$ref": "#/components/schemas/XSDVersion"
          }
        }
      },
      "ContactEHRExtract": {
        "description": "Object describing the contents of the care contact",
        "type": "object",
        "properties": {
          "ehr_id": {
            "$ref": "#/components/schemas/II"
          },
          "ehr_system": {
            "$ref": "#/components/schemas/II"
          },
          "time_created": {
            "$ref": "#/components/schemas/TS"
          },
          "Contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "CareCommitment": {
            "$ref": "#/components/schemas/CareCommitment"
          },
          "Patient": {
            "$ref": "#/components/schemas/Patient"
          },
          "Units": {
            "$ref": "#/components/schemas/Units"
          },
          "ContactPerformingUnit": {
            "$ref": "#/components/schemas/SimpleUnit"
          },
          "ContactResponsibleUnit": {
            "$ref": "#/components/schemas/SimpleUnit"
          },
          "ContactAccessZoneUnit": {
            "$ref": "#/components/schemas/SimpleUnit"
          },
          "ContactHeadCareproviderUnit": {
            "$ref": "#/components/schemas/SimpleUnit"
          },
          "ContactTechnicalUnit": {
            "$ref": "#/components/schemas/SimpleUnit"
          },
          "CareProviders": {
            "$ref": "#/components/schemas/CareProviders"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "rc_id": {
            "$ref": "#/components/schemas/II"
          },
          "ContacInternaltID": {
            "type": "string"
          },
          "ContactPerformingUnit": {
            "type": "string"
          },
          "ContactVersionDateTime": {
            "$ref": "#/components/schemas/TS"
          },
          "ContactTypeOfVisit": {
            "type": "string"
          },
          "ContactVisitType": {
            "type": "string"
          },
          "ContactCategory1": {
            "type": "string"
          },
          "ContactCategory2": {
            "type": "string"
          },
          "ContactStatus": {
            "type": "string"
          },
          "ContactStatusConfigurationId": {
            "type": "string"
          },
          "ContactActive": {
            "type": "boolean"
          },
          "ContactBeginDateTime": {
            "$ref": "#/components/schemas/TS"
          },
          "ContactEndDateTime": {
            "$ref": "#/components/schemas/TS"
          },
          "ContactShareInfo": {
            "type": "boolean"
          },
          "ContactRoom": {
            "type": "string"
          },
          "ContactBed": {
            "type": "string"
          },
          "ContactHomeleaveBeginDateTime": {
            "$ref": "#/components/schemas/TS"
          },
          "ContactHomeleaveEndDateTime": {
            "$ref": "#/components/schemas/TS"
          },
          "ContactPatientFee": {
            "type": "string"
          },
          "ContactSecrecyLevels": {
            "type": "object",
            "properties": {
              "secrecyLevel": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "Actions": {
            "type": "object",
            "properties": {
              "Action": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ActionID": {
                      "type": "string"
                    },
                    "ActionType": {
                      "type": "string"
                    },
                    "ActionMain": {
                      "type": "boolean"
                    },
                    "ActionCareService": {
                      "type": "string"
                    },
                    "ActionVisitType": {
                      "type": "string"
                    },
                    "ActionCategory1": {
                      "type": "string"
                    },
                    "ActionCategory2": {
                      "type": "string"
                    },
                    "ActionStatus": {
                      "type": "string"
                    },
                    "ActionStatusConfigurationId": {
                      "type": "string"
                    },
                    "ActionBeginDateTime": {
                      "$ref": "#/components/schemas/TS"
                    },
                    "ActionEndDateTime": {
                      "$ref": "#/components/schemas/TS"
                    },
                    "ActionSecrecyLevels": {
                      "type": "object",
                      "properties": {
                        "SecrecyLevel": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "Discharge": {
            "type": "object",
            "properties": {
              "DischargeDestination": {
                "type": "string"
              },
              "DischargeDateTime": {
                "$ref": "#/components/schemas/TS"
              },
              "DeceasedDateTime": {
                "$ref": "#/components/schemas/TS"
              },
              "PostMortemRequired": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "CareCommitment": {
        "type": "object",
        "properties": {
          "CareCommitmentID": {
            "type": "string"
          },
          "CareCommitmentDate": {
            "$ref": "#/components/schemas/TSDATE"
          },
          "CareCommitmentClassification": {
            "type": "string"
          }
        }
      },
      "Patient": {
        "type": "object",
        "properties": {
          "PatientID": {
            "$ref": "#/components/schemas/II"
          },
          "PatientInternalID": {
            "type": "string"
          },
          "PatientProtectedId": {
            "type": "boolean"
          },
          "PatientSecrecyGroups": {
            "$ref": "#/components/schemas/PatientSecrecyGroups"
          },
          "PatientName": {
            "$ref": "#/components/schemas/PatientName"
          }
        }
      },
      "PatientSecrecyGroups": {
        "type": "object",
        "properties": {
          "Group": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PatientName": {
        "type": "object",
        "properties": {
          "PatientFamilyName": {
            "type": "string"
          },
          "PatientMiddleName": {
            "type": "string"
          },
          "PatientGivenName": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PatientGivenName"
            }
          }
        }
      },
      "PatientGivenName": {
        "type": "object",
        "properties": {
          "qualifier": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "Units": {
        "type": "object",
        "properties": {
          "Unit": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Unit"
            }
          }
        }
      },
      "Unit": {
        "type": "object",
        "properties": {
          "UnitID": {
            "$ref": "#/components/schemas/II"
          },
          "UnitLocalID": {
            "$ref": "#/components/schemas/II"
          },
          "UnitName": {
            "type": "string"
          },
          "UnitSecrecyGroups": {
            "type": "object",
            "properties": {
              "Group": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "HeadCareproviderUnitID": {
            "$ref": "#/components/schemas/II"
          },
          "AccessZones": {
            "type": "object",
            "properties": {
              "AccessZoneID": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/II"
                }
              }
            }
          },
          "PhoneNumbers": {
            "type": "object",
            "properties": {
              "Phone": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "PhoneType": {
                      "type": "string"
                    },
                    "PhoneNumber": {
                      "type": "string"
                    },
                    "PhoneComment": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "EmailAddresses": {
            "type": "object",
            "properties": {
              "Email": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "EmailType": {
                      "type": "string"
                    },
                    "EmailAddress": {
                      "type": "string"
                    },
                    "EmailComment": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "UnitAddresses": {
            "type": "object",
            "properties": {
              "UnitAddress": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "UnitAddressType": {
                      "type": "string"
                    },
                    "UnitAddressAddress": {
                      "type": "string"
                    },
                    "UnitAddressPostcode": {
                      "type": "string"
                    },
                    "UnitAddressCity": {
                      "type": "string"
                    },
                    "UnitAddressCounty": {
                      "type": "string"
                    },
                    "UnitAddressCountry": {
                      "type": "string"
                    },
                    "UnitAddressGeographicalPlace": {
                      "type": "string"
                    },
                    "UnitAddressComment": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CareProviders": {
        "type": "object",
        "properties": {
          "CareProvider": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CareProvider"
            }
          }
        }
      },
      "CareProvider": {
        "type": "object",
        "properties": {
          "CareProviderType": {
            "type": "string"
          },
          "CareProviderID": {
            "$ref": "#/components/schemas/II"
          },
          "CareProviderInternalID": {
            "type": "string"
          },
          "CareProviderName": {
            "type": "string"
          },
          "CareProviderPosition": {
            "type": "object",
            "properties": {
              "CareProviderPositionID": {
                "$ref": "#/components/schemas/II"
              },
              "CareProviderPositionName": {
                "type": "string"
              }
            }
          },
          "CareProviderUnit": {
            "$ref": "#/components/schemas/SimpleUnit"
          }
        }
      },
      "SimpleUnit": {
        "type": "object",
        "properties": {
          "unitID": {
            "$ref": "#/components/schemas/II"
          },
          "unitLocalID": {
            "$ref": "#/components/schemas/II"
          }
        }
      },
      "XSDVersion": {
        "type": "object",
        "properties": {
          "version": {
            "type": "number"
          }
        }
      },
      "II": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ANY"
          }
        ],
        "properties": {
          "$self": {
            "type": "string"
          },
          "root": {
            "type": "string"
          },
          "extension": {
            "type": "string"
          },
          "identifierName": {
            "type": "string"
          },
          "displayable": {
            "type": "boolean"
          },
          "scope": {
            "type": "string",
            "enum": [
              "BUSN",
              "OBJ",
              "VER",
              "VW"
            ]
          },
          "reliability": {
            "type": "string",
            "enum": [
              "ISS",
              "VER",
              "UNV"
            ]
          }
        }
      },
      "TSDATE": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/TS"
          }
        ]
      },
      "TS": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/QTY"
          }
        ],
        "properties": {
          "value": {
            "type": "string"
          }
        }
      },
      "QTY": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ANY"
          }
        ],
        "properties": {
          "expression": {
            "$ref": "#/components/schemas/ED"
          },
          "originalText": {
            "$ref": "#/components/schemas/EDTEXT"
          },
          "uncertainty": {
            "$ref": "#/components/schemas/QTY"
          },
          "uncertaintyType": {
            "type": "string",
            "enum": [
              "U",
              "N",
              "LN",
              "G",
              "E",
              "X_2",
              "T",
              "F",
              "B"
            ]
          }
        }
      },
      "ED": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ANY"
          }
        ],
        "properties": {
          "data": {
            "type": "string"
          },
          "xml": {
            "type": "string"
          },
          "reference": {
            "$ref": "#/components/schemas/TELURL"
          },
          "integrityCheck": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "thumbnail": {
            "$ref": "#/components/schemas/ED"
          },
          "description": {
            "$ref": "#/components/schemas/ST"
          },
          "translation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ED"
            }
          },
          "value": {
            "type": "string"
          },
          "mediaType": {
            "type": "string"
          },
          "charset": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "compression": {
            "type": "string",
            "enum": [
              "DF",
              "GZ",
              "ZL",
              "Z",
              "BZ",
              "Z_7"
            ]
          },
          "integrityCheckAlgorithm": {
            "type": "string",
            "enum": [
              "SHA_1",
              "SHA_256"
            ]
          }
        }
      },
      "EDTEXT": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ED"
          }
        ]
      },
      "ST": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ANY"
          }
        ],
        "properties": {
          "translation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/STNT"
            }
          },
          "value": {
            "type": "string"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "STNT": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ST"
          }
        ]
      },
      "TELURL": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/TEL"
          }
        ]
      },
      "TEL": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ANY"
          }
        ],
        "properties": {
          "useablePeriod": {
            "$ref": "#/components/schemas/QSETTS"
          },
          "value": {
            "type": "string"
          },
          "use": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "H",
                "HP",
                "HV",
                "WP",
                "DIR",
                "PUB",
                "BAD",
                "TMP",
                "AS",
                "EC",
                "MC",
                "PG"
              ]
            }
          }
        }
      },
      "QSETTS": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ANY"
          }
        ],
        "properties": {
          "originalText": {
            "$ref": "#/components/schemas/EDTEXT"
          }
        }
      },
      "ANY": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/HXIT"
          },
          {
            "properties": {
              "nullFlavor": {
                "type": "string",
                "enum": [
                  "NI",
                  "INV",
                  "OTH",
                  "NINF",
                  "PINF",
                  "UNC",
                  "DER",
                  "UNK",
                  "ASKU",
                  "NAV",
                  "QS",
                  "NASK",
                  "TRC",
                  "MSK",
                  "NA"
                ]
              },
              "flavorId": {
                "type": "string"
              },
              "updateMode": {
                "type": "string",
                "enum": [
                  "A",
                  "AU",
                  "U",
                  "R",
                  "I",
                  "D",
                  "K"
                ]
              }
            }
          }
        ]
      },
      "HXIT": {
        "type": "object",
        "properties": {
          "validTimeLow": {
            "type": "string"
          },
          "validTimeHigh": {
            "type": "string"
          },
          "controlActRoot": {
            "type": "string"
          },
          "controlActExtension": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "description": "Generic error response for all systems and applications errors.",
        "properties": {
          "error": {
            "description": "Error reason in text.",
            "type": "string"
          },
          "path": {
            "description": "Path to requested resource.",
            "type": "string"
          },
          "status": {
            "description": "HTTP status.",
            "type": "integer"
          },
          "timestamp": {
            "description": "Timestamp (milliseconds since epoch).",
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  },
  "security": [
    {},
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ]
}